.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 30vh;
    color: #fff;
}

.card {
    border-radius: 5px;
    margin-top: 3rem;
    padding: 1rem;
}

.btn {
    border-radius: 5px;
    color: #fff;
    padding: 3px 8px;
}