.links a {
    color: whitesmoke;
}

.logoutBtn {
    outline: none;
    background-color: mediumpurple;
    border: none;
    color: #fff;
    margin-top: 0.5rem;
    border-radius: 5px;
    padding: 0.5rem;
}